/* sets width for navigation page */
div#aboutNavigation {
	width: 600px;
	margin: auto;
}

/*sets area for everything to go in */
div#bodyDiv {
	width: 600px;
	margin: auto;
}

/* headers */
h1#aboutH1 {
	color: white;
	padding-left: 15px;
	padding-right: 15px;
	font-weight: bold;
}

h2.aboutSiteHeader {
	color: white;
	font-size: 35px;
	text-align: center;
}

/*standard text*/
p#aboutText {
	color: white;
	padding-left: 15px;
	padding-right: 15px;
}

/* saving this for later

you have to float your image container as follows:

HTML

<div id="container">
    <div id="floated">...some other random text</div>
    ...
    some random text
    ...
</div>

CSS

#container{
    width: 400px;
    background: yellow;
}
#floated{
    float: left;
    width: 150px;
    background: red;
}

*/
