/* sets width for navigation page */
div#aboutNavigation {
	width: 600px;
	margin: auto;
}

/*sets area for everything to go in */
div#bodyDiv {
	width: 600px;
	margin: auto;
}

/* headers */
h1#aboutH1 {
	color: white;
	padding-left: 15px;
	padding-right: 15px;
	font-weight: bold;
}

/*standard text*/
p#aboutText {
	color: white;
	padding-left: 15px;
	padding-right: 15px;
}