/* color vars */
:root {
	--MikuGreySolid: #373b3e;
	--MikuWhiteSolid: #bec8d1;
	--MikuLBlueSolid: #86cecb;
	--MikuDBlueSolid: #137a7f;
	--MikuMagentaSolid: #e12885;
	--MikuGreyTrans: rgba(55, 59, 62, 0.9);
	--MikuWhiteTrans: rgba(190, 200, 209, 0.9);
	--MikuLBlueTrans: rgba(134, 206, 203, 0.9);
	--MikuDBlueTrans: rgba(19, 122, 127, 0.9);
	--MikuMagentaTrans: rgba(225, 40, 88, 0.9);
}

/* main body */
body {
	background-color: var(--MikuLBlueSolid);
	color: var(--MikuMagentaSolid);
}
/* things are readable now */

/* navigation menu */
/* navigation container div */
div#navigationDiv {
	width: 40%;
	margin: auto;
}
/* navigation menu */
nav {
	background-color: var(--MikuDBlueSolid);
	height: 7.5%;
	margin: auto;
	text-align: center;
	font-size: 30px;
	padding: 5px;
}
/* text in menu */
a.anav {
	font-size: 24px;
	color: var(--MikuMagentaSolid);
	padding: 24px;
}
/* stops links from looking weird in nav bar*/
a.anav:link, a.anav:visited, a.anav:hover, a.anav:active  {
	color: var(--MikuMagentaSolid);
	text-decoration: none;
}

/*main title*/
h1.titleH1 {
	text-align: center;
	font-size: 48px;
}

/*site container tile */
div.siteDivMain {
	border-style: solid;
	border-width: 2px;
	padding: 0;
	width: 95%;
	margin-bottom: 5%;
	border-radius: 4%;
	background-color: var(--MikuDBlueSolid);
}
/*title of tile */
h2.siteTitle {
	text-align: center;
	font-weight: bold;
	font-size: 36px;
}
/*img in tile*/
img.siteImg {
	width: 85%;
	margin-left: 7.5%;
	border-width: 0.5%;
	border-radius: 2%;
}
/* normal text in tile */
p.siteTxt {
	color: var(--MikuWhiteSolid);
	margin-left: 5%;
	margin-right: 5%;
}
/* stops links from looking weird text*/
p.siteTxt:link, p.siteTxt:visited, p.siteTxt:hover, p.siteTxt:active  {
	color: var(--MikuMagentaSolid);
	text-decoration: none;
}
h1.siteTitle:link, p.siteTxt:visited, p.siteTxt:hover, p.siteTxt:active {
	color: var(--MikuMagentaSolid);
	text-decoration: none;
}

/* footer text */
h1.footerH1 {
	text-align: center;
}

/* table cell */
td.siteTileTableTD {
	width: 30%;
	/* height: 75%; */
}

/* what>? */
table { height: 1px; } /* Will be ignored, don't worry. */
tr { height: 100%; }
td { height: 100%; }
td > div { height: 100%; }