/* color vars */
:root {
	--MikuGreySolid: #373b3e;
	--MikuWhiteSolid: #bec8d1;
	--MikuLBlueSolid: #86cecb;
	--MikuDBlueSolid: #137a7f;
	--MikuMagentaSolid: #e12885;
	--MikuGreyTrans: rgba(55, 59, 62, 0.9);
	--MikuWhiteTrans: rgba(190, 200, 209, 0.9);
	--MikuLBlueTrans: rgba(134, 206, 203, 0.9);
	--MikuDBlueTrans: rgba(19, 122, 127, 0.9);
	--MikuMagentaTrans: rgba(225, 40, 88, 0.9);
}

/* background */
body {
	background-image: url("https://surfinontheinter.net/img/myspace/mikuback.jpg");
	background-size: contain;
	background-repeat: repeat;
}

/* cursor */
body {
	cursor: url(https://surfinontheinter.net/img/myspace/miku1.cur), auto;
}

/* header */
div#header {
	background-color: var(--MikuDBlueSolid);
	color: var(--MikuWhiteSolid);
}

/* nav menu */
div#hSub {
	background-color: var(--MikuLBlueSolid);
	color: var(--MikuWhiteSolid);
}

/* window head */
div.boxHead {
	background-color: var(--MikuMagentaSolid);
	color: var(--MikuWhiteSolid);
	text-align: center;
	border-radius: 10px;
}

/* box class */
.box {
	border: 1px solid var(--MikuDBlueSolid);
	border-radius: 10px;
	background-color: var(--MikuGreyTrans);
}

/*  pfp & bio section */
/* main div */
div.topLeft {
	background-color: var(--MikuDBlueTrans);
	border-radius: 25px;
	padding-top: 0px;
	margin-top: 15px;
}
/* pfp */
img#avatar {
	border-radius: 50%;
}
/* contact box */
div.boxInfo.box {
	border: none;
	background: transparent;
}

/* name */
h2#name {
	color: var(--MikuMagentaSolid);
	-webkit-text-stroke-width: 0.6px;
	-webkit-text-stroke-color: var(--MikuWhiteSolid);
	text-align: center;
	font-size: 40px;
}

/* comment box stuff */
/* outer box */
div.box.comments {
	background: none;
	border: none;
}
/* inner box */
textarea#commentInput {
	background-color: var(--MikuGreyTrans);
	border: 1px solid var(--MikuDBlueSolid);
	color: var(--MikuMagentaSolid);
}
/* outer of comment box */
div#form {
	background-color: var(--MikuDBlueTrans);
	border: 1px solid var(--MikuMagentaSolid);
}

/* url box */
div.url.box {
	border: none;
	background: transparent;
}

/* song player */
div.songName {
	background-color: var(--MikuDBlueSolid);
	color: var(--MikuWhiteSolid);
}
div.player.box {
	background-color: var(--MikuDBlueSolid);
}

/* windows */
/* title strip */
div.rightHead {
	background-color: var(--MikuMagentaTrans);
	color: var(--MikuGreySolid);
	padding: 2px;
	padding-left: 10px;
}
/* window body */
div.box.blurbs {
	border-color: var(--MikuMagentaTrans);
	background-color: var(--MikuDBlueTrans);
}
/* text in blurbs */
h4 {
	margin-left: 2px;
	color: var(--MikuLBlueSolid);
}
div#who {
	padding: 2px;
}
/* image in about section */
div.box.blurbs > p > div > img {
	margin: 3px;
	border: 1px solid var(--MikuLBlueSolid);
	border-radius: 3px;
	width: unset;
	width: -moz-available;
}
/* fwiends list */
div.box.fwiends {
	border: 1px solid var(--MikuMagentaSolid);
	background-color: var(--MikuDBlueTrans);
	margin-bottom: 10px;
}

/*Miku Gender*/
/* thx weebman & tom for tha hlp*/
div#gender {
	font-size: 0px;
}
div#gender::after {
	content: "Vocaloid";
	font-size: 15px;
}
